<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | IndiShare - file System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="download">
        <div class="download__meta">
            <h1>
                <%= file %>">
            </h1>
        </div>
        <div class="send-btn-container">
            <a href="<%= file %>">Download file</a>
        </div>

    </section>
</body>

</html>